.flex-1 {
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}